extends layout
include _includes/sharedHTMLfunctions.pug

block content
  .row
    .col-12.col-md-8
      app-dessert-list Loading desserts...

    .col-12.col-md-4
      .card.mt-4
        .card-body
        
          h5.card-title About This Page
          p.card-text This page uses Angular to dynamically load dessert data.
          .d-grid.gap-2.mt-3
            a.btn.btn-primary(href='/dessert-old')
              i.fas.fa-code.me-2
              | View Pug Version
            a.btn.btn-outline-secondary(href='/about')
              i.fas.fa-info-circle.me-2
              | About Us

block scripts
  script(src='/build/main.js')