doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        a.navbar-brand(href='/')
          img(src='/images/logo6.png', alt='Dessert Logo')

        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Home
                i.fa-solid.fa-cake-candles.icon-home <!--Bootstraps Icon-->
            li.nav-item
              a.nav-link(href='/login/') Login
                i.fa-solid.fa-right-to-bracket.icon-login
            li.nav-item
              a.nav-link(href='/register/') Register
                i.fa-solid.fa-user-plus.icon-register
            li.nav-item
              a.nav-link(href='/about/') About
                i.bi.bi-info-circle.icon-about <!--Bootstraps Icon-->
    .container
      block content
      footer
        .row
          .col-12
            small &copy; Divine Okhaus 2025
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
